body {
    font-family: "Source Serif Pro", serif;
    margin: 0px;
    background-color: #FEFBDF;
}

a {
    text-decoration: none;
}

/* 
 * ----------------------------------------------------------------------------
 * Content 
 * ----------------------------------------------------------------------------
 */

.content {
    font-size: 11pt;
    line-height: 2.0;
    max-width: 800px;
    margin: auto;
    text-align: justify;
    padding: 15px;
}

.content a:link {
    color: #00f;
    text-decoration: underline;
}

.content a:visited {
    color: #00f;
    text-decoration: underline;
}

.content a:active {
    color: #00f;
    text-decoration: underline;
}

.content h1 {
    color: #333;
    font-weight: normal;
}

/* 
 * ----------------------------------------------------------------------------
 * Nav 
 * ----------------------------------------------------------------------------
 */

.nav {
    background-color: #eee;
    box-shadow: 0px 2px 2px #bbb;
    background-color: #ECEFF1;
    font-size: 11pt;
    border-top: 1px solid #ccc;
}

.nav-item {
    margin: 0px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    color: #263238;
    border-right: 1px solid #ccc;
    float: left;
}

.nav-item:hover {
    background-color: #CFD8DC;
}

/* 
 * ----------------------------------------------------------------------------
 * Header
 * ----------------------------------------------------------------------------
 */

.header {
    padding: 10px;
    background-color: #ECEFF1;
    background: url('/img/header.png');
}

.logo-text {
    text-shadow: 1px 1px 4px #000;
    font-size: 18pt;
    color: #fff;
}

/* 
 * ----------------------------------------------------------------------------
 * Projects Main 
 * ----------------------------------------------------------------------------
 */

.project-button {
    padding: 10px;
    font-size: 16pt;
    text-decoration: none;
    background-color: #ECEFF1;
    margin: 10px;
    width: 200px;
    border: 1px solid #aaa;
    box-shadow: 1px 1px 2px #bbb;
    color: #263238;
    text-decoration: none;
    text-align: center;
    float: left;
}

.project-button:hover {
    background-color: #CFD8DC;
}

.thumb {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}

.figure {
    margin: 50px;
    padding: 10px;
    font-style: italic;
    text-align: center;
    color: #333;
}

.figure img {
    max-height: 400px;
}

